<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<test name="TestInChrome">
		<parameter name="browser" value="chrome" />

		<classes>
			<class name="net.emicalculator.base.BaseClass" />
			<class name="net.emicalculator.testRunner.SmokeTestRunner" />
			<class name="net.emicalculator.testRunner.TestRunner" />
		</classes>
	</test> <!-- Test -->
	<test name="TestInEdge">
		<parameter name="browser" value="Edge" />

		<classes>
			<class name="net.emicalculator.base.BaseClass" />
			<class name="net.emicalculator.testRunner.SmokeTestRunner" />
			<class name="net.emicalculator.testRunner.TestRunner" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
